<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <% if defined? @title %>
      <title><%= @title %> | Millwood Online</title>
    <% elsif defined? @head_title %>
      <title><%= @head_title %> | Millwood Online</title>
    <% else %>
      <title>Millwood Online | Web Development</title>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if defined? @description %>
      <meta name="description" content="<%= @description %>">
    <% else %>
     <meta name="description" content="The digital home of Tim Millwood, a PHP / Drupal & Ruby-on-Rails / Sinatra Web Developer based in Cardiff / Abergavenny, Wales, UK">
    <% end %>
    <link rel="author" href="https://plus.google.com/112785318169610930599">
    <meta name="author" content="Tim Millwood">
    <META NAME="robots" CONTENT="index, follow">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Millwood Online - Blog">

    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome-ie7.css" rel="stylesheet">
    <link href="/css/millwoodonline.css" rel="stylesheet">
 
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<% if !current_user.admin? %>    
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3761412-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  window.google_analytics_uacct = "UA-3761412-1"
</script>
<% end %>

  </head>

  <body itemscope itemtype="http://schema.org/WebPage">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Millwood Online</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/about">About</a></li>
              <li><a href="/work">Work</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <ul class="nav pull-right">
              <% if !logged_in? %>
                <li><a href="/login">Login</a></li>
              <% else %>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account
                <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% if current_user.admin? %>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/admin/content">Content</a></li>
                    <li><a href="/admin/content/add">Add content</a></li>
                  <% end %>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  <div class="container">
  <div class="row">
      <div class="span8">
       <% if Rack.const_defined?('Flash') && (flash[:error] || flash[:notice]) %>
         <div class="alert <% if flash[:error] %>alert-error<% else %>alert-success<% end %>"><%= flash[:notice] %> <%= flash[:error] %></div>
       <% end %>
       <% if defined? @title %>
         <h1 class="page-header"><%= @title %></h1>
       <% end %>
       <%= yield %> 
       <hr>
      </div>
      <div class="span4">
      <% if defined? @block %>
      <%= @block %>
      <% end %>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <a href="https://twitter.com/timmillwood" class="twitter-follow-button" data-show-count="true" data-size="small">Follow @timmillwood</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <p><small>&copy; Millwood Online 2012 - Built in <img src="/img/ruby.png" alt="Ruby" /> Ruby using <img src="/img/sinatra.png" alt="Sinatra" /> Sinatra.<br/>
      Cardiff / Abergavenny, Wales UK - Call <a href="tel:+441873878587">01873 878587</a> or <a href="/contact">email</a>.</small></p>
    </div>  
  </footer>

   <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.0/js/bootstrap.min.js"></script>
   <script src="/js/millwoodonline.js"></script>
</html>
